@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Cinzel+Decorative:wght@400;700&family=Pinyon+Script&display=swap');
@import "tailwindcss";

@theme {
  --color-cream: #EAEBD5;
  --color-rose: #CE758C;
  --color-vintage: #8B324D;
  --color-pearl: #E8D3D8;
  --color-olive: #6B742A;
  
  --font-display: "Playfair Display", serif;
  --font-body: "Montserrat", sans-serif;
  --font-logo-ew: "Pinyon Script", cursive;
  --font-logo-text: "Playfair Display", serif;
}

body {
  @apply font-body bg-cream text-vintage overflow-x-hidden selection:bg-rose selection:text-white;
}
